flows/Survey.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Survey</name>
        <label>Send Survey</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>customer_satisfaction_1</actionName>
        <actionType>dynamicSendSurveyInvitation</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientType</name>
            <value>
                <stringValue>User</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <stringValue>{!Send_Survey}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>surveySubjectEntity</name>
            <value>
                <stringValue>{!Send_Survey}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isUnauthenticatedResponse</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>customer_satisfaction_1</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Contact</name>
        <label>Get Case Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TitleType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>executive</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </filters>
        <filters>
            <field>Priority</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
